<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring</title>
</head>
<body>
<h1>Welcome to CyberPunk Realities</h1>
<div th:if="${cyber_punk_realities != null and !cyber_punk_realities.empty}">
    <div th:each="cyberpunk : ${cyber_punk_realities}">
        <fieldset>
            <legend th:text="${cyberpunk.year}"></legend>
            <p th:text="${cyberpunk.reality}"></p>
        </fieldset>
    </div>
</div>


<div th:if="${cyber_punk_realities == null or cyber_punk_realities.empty}">
    <h1>CyberPunk not Exists</h1>
</div>


</body>
</html>
