<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring</title>
</head>
<body>
<h1>Welcome to Spring</h1>
<hr>
<h3>hello hacker</h3>
<p th:text="welcome+' '+hacker"></p>
<p th:text="jodete"></p>

<!-- esta es la forma de obtener datos desde spring-->
<h1 th:text="${message}"></h1>

<!--este mensaje se obtiene desde los application.properties-->
<h2 th:text="${messageWarning}"></h2>


<!-- este es otro mensaje enviado desde application.properties-->
<h2 th:text="${messageIa}"></h2>

</body>
</html>
