<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:if="${sectors != null and !sectors.empty}">
    <table border="2">
        <tr>
            <th>Name</th>
            <th>Antiquity</th>
            <th>Investigation Area</th>
            <th>Prime Reason</th>
        </tr>
        <!--    th:each sirve para hacer un for each de la list y obtener todos los datos de la lista -->
        <tr th:each=" sector : ${sectors}">
            <td th:text="${sector.sectorName}"></td>
            <td th:text="${sector.antiquity}"></td>
            <td th:text="${sector.investigationArea}"></td>
            <td th:text="${sector.primeReason}"></td>
        </tr>
    </table>
</div>

<div th:if="${sectors == null or sectors.empty}">
    <p>The data is confidential!!! fucking Hacker!!!</p>
</div>

<fieldset th:if="${ sector != null}">
    <legend th:text="${sector.sectorName}"></legend>
    <h3 th:text="${sector}"></h3>
</fieldset>


<fieldset th:if="${ sector == null}">
    <legend>Void</legend>
    <h3> the date is confidential!!</h3>
</fieldset>


</body>
</html>