<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring</title>
</head>
<body>
<h1>Welcome to ParallelSoft</h1>
<div>
    <fieldset>
        <legend th:text="${user.email}"></legend>
        <p th:text="${user.id}"></p>
        <p th:text="${user.name}"></p>
        <p th:text="${user.lastname}"></p>
        <p th:text="${user.email}"></p>
        <p th:text="${user.phoneNumber}"></p>
    </fieldset>
</div>


</body>
</html>
