@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

* {
  margin: auto;
}

body {
  text-align: center;
  font-family: "Fira Code", monospace;
  background-color: #000000;
  color: white;
  font-size: 17px;
}

h1 {
  font-size: 35px;
  background-image: linear-gradient(45deg, #5bd1d7 10%, #7ee787 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

span {
  background-image: linear-gradient(45deg, #5bd1d7 10%, #7ee787 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.editor,
.lash {
  border-radius: 5px;
}

/**
 * ----------------------------------------
 * animation slide-top for : editor
 * ----------------------------------------
 */
.slide-top {
  -webkit-animation: slide-top 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

.editor {
  margin-top: 120px;
  width: 65%;
  height: 400px;
  background-color: #202124;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.lash {
  height: 50px;
  background-color: #0d1117;
  border: #202124 0.1px solid;
}

ul {
  margin-left: -30px;
  list-style-type: none;
}

li {
  margin-top: 8px;
  background-color: #0d1117;
  border: #202124 0.1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  height: 40px;
  float: left;
}

.lash-item {
  display: block;
  margin-top: 10px;
  margin-left: 33px;
  margin-right: 10px;
  font-size: 15px;
}

.icon {
  margin-left: 10px;
  margin-top: 10px;
  display: block;
  float: left;
  width: 18px;
}

.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 1s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
